@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:  #aa833f;
  --taskbar-indent: #fbce6e;
  --taskbar-hover: #e3a344;
  --taskbar-dropdown-indent: #fbce6e;
  --taskbar-dropdown-indent-hover: #fab957;
  --canvas-background: #fbce6e;
  --accent: #554e43;
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181B;
    --taskbar-indent: #22262f;
    --taskbar-hover: #575961;
    --taskbar-dropdown-indent: #22262f;
    --taskbar-dropdown-indent-hover: #41444b;
    --canvas-background: #22262f;
    --accent: #333344;
    --text: #fffdf5;
  }
}