@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5f4009;
  --taskbar-indent: #f8cc53;
  --taskbar-hover: #e3a344;
  --taskbar-dropdown-indent: #fbce6e;
  --taskbar-dropdown-indent-hover: #fab957;
  --canvas-background: #f8cc53;
  --accent: #432a00;
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181B;
    --taskbar-indent: #22262f;
    --taskbar-hover: #41444b;
    --taskbar-dropdown-indent: #1c1f24;
    --taskbar-dropdown-indent-hover: #262632;
    --canvas-background: #22262f;
    --accent: #333344;
    --text: #fffdf5;
  }
}