@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:  #b2becc;
  --taskbar-indent: #e8eef5;
  --taskbar-hover: #CBD5E1;
  --taskbar-dropdown-indent: #e5ebf3;
  --taskbar-dropdown-indent-hover: #CBD5E1;
  --canvas-background: #E2E8F0;
  --accent: #554e43;
  --text: #000000;
}

/* Customize the tab hover effect */
.dockview .dockview-tab:hover {
  background-color: theme('colors.gray.600');
}

/* Customize the panel headers */
.dockview .dockview-tab {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
}

/* Customize the panel content */
.dockview .dockview-react-panel {
  background-color: theme('colors.gray.800');
  color: theme('colors.gray.200');
}

.dockview {
  /* Override the background color of the dockview container */
  --dv-group-view-background-color: var(--canvas-background);
  --dv-tabs-and-actions-container-background-color: var(--background);
  --dv-tab-divider-color: var(--accent);
  --dv-tab-background-color: theme('colors.gray.900');
  --dv-tab-background-color-active: theme('colors.gray.600');
  --dv-tab-color: theme('colors.gray.200');
  --dv-tab-color-active: theme('colors.white');
  --dv-activegroup-visiblepanel-tab-background-color: var(--taskbar-dropdown-indent);
  --dv-activegroup-visiblepanel-tab-color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181B;
    --taskbar-indent: #22262f;
    --taskbar-hover: #575961;
    --taskbar-dropdown-indent: #22262f;
    --taskbar-dropdown-indent-hover: #41444b;
    --canvas-background: #22262f;
    --accent: #333344;
    --text: #fffdf5;
  }
}